@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-pink-pastel: #fa7da2;
}

html {
  scroll-behavior: smooth;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 20s ease infinite;
}
